body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  text-align: center;
}
h2 {
  text-transform: uppercase;
}
button[type='submit'],
button {
  display: block;
  margin: 1% auto;
  background-color: rgb(41, 41, 183);
  color: white;
  font-size: 0.8rem;
  padding: 5px 15px;
  border: 1px solid white;
  letter-spacing: 1px;
  border-radius: 10px;
}
p {
  font-size: 0.9rem;
  line-height: 1rem;
  margin: 0.5%;
}
